<div class="checkout-container">
    <div class="pb-10 flex items-center flex-col" data-controller="filter-toggle">
        <h2 class="pod-page-title !mb-0">
            Blogs
        </h2>
        <div class="red-accent-pill-large"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
        
        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

        <a href="#" class="border-b-1 border-dark pb-3">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label !ps-0">
                The Comfort Code: Why Rockport Is a Game-Changer for Long Days
            </p>
            <p class="text-sm mt-2">
                By Jane Doe | March 15, 2024
            </p>
        </a>

    </div>
</div>