<div class="page-container">
    <div class="pb-10 flex items-center flex-col">
        <h2 class="uppercase pod-page-title !mb-0">
            Review My order
        </h2>
        <div class="red-accent-pill-large"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-5 lg:grid-cols-5 gap-7">
        <div class="col-span-3 lg:col-span-3 overflow-auto rounded-xl lg:border-0">

            <div class="w-full border border-dark-custom rounded-xl p-8 mb-8">
                <p class="text-xl lg:text-2xl font-medium">
                    Edit Address
                </p>
                <form>
                    <div class="grid grid-cols-2">
                        <hr class="col-span-2 mt-3 mb-5">

                        <div class="flex flex-row col-span-2 lg:col-span-1">
                            <div class="w-full h-[45px] relative flex lg:me-3 items-center">
                                <label for="has_medical_aid_yes" class="custom-radio-label ps-5">
                                    Residential
                                </label>
                                <input type="radio" name="has_medical_aid" id="has_medical_aid_yes" 
                                    class="peer radio_styling z-10 relative" value="yes">
                                <div class="custom-radio-buttons"></div>
                            </div>
                        </div>
                        
                        <div class="flex flex-row col-span-2 lg:col-span-1 mt-5 lg:mt-0">
                            <div class="w-full h-[45px] relative flex items-center">
                                <label for="has_medical_aid_no" class="custom-radio-label ps-5">
                                    Business
                                </label>
                                <input type="radio" name="has_medical_aid" id="has_medical_aid_no" 
                                    class="peer radio_styling z-10 relative" value="no">
                                <div class="custom-radio-buttons"></div>
                            </div>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 pe-3">
                            <input  type="text" 
                                    id="first_name" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="first_name" class="floating-label">
                                First Name
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5">
                            <input  type="text" 
                                    id="last_name" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="last_name" class="floating-label">
                                Last Name
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 col-span-2">
                            <input  type="text" 
                                    id="street_address" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="street_address" class="floating-label">
                                Street Address
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 col-span-2">
                            <input  type="text" 
                                    id="building_number" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="building_number" class="floating-label">
                                Complex/Building
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 pe-3">
                            <input  type="text" 
                                    id="suburb" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="suburb" class="floating-label">
                                Suburb
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5">
                            <input  type="text" 
                                    id="city_town" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="city_town" class="floating-label">
                                City/Town
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 pe-3">
                            <input  type="text" 
                                    id="province" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="province" class="floating-label">
                                Province
                            </label>
                        </div>

                        <div class="relative 1 h-[45px] mt-5 ">
                            <input  type="text" 
                                    id="postal_code" 
                                    class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                    placeholder=" " />
                            
                            <label for="postal_code" class="floating-label">
                                Postal Code
                            </label>
                        </div>

                        <div class="col-span-2 mt-5 grid grid-cols-2">
                            <div class="hidden lg:block"></div>
                            <div class="grid grid-cols-2 lg:grid-cols-5 col-span-2 lg:col-span-1">
                                <div class="col-span-1 lg:col-span-2 pe-3 lg:pe-0">
                                    <button type="button" class="btn-dark-checkout-outline rounded-xl md:me-3 h-12 flex items-center w-full mt-5 lg:mt-0 lg:mt-0 order-4 lg:order-3 flex justify-evenly">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-span-1 lg:col-span-3 lg:ps-3">
                                    <button type="button" class="btn-checkout-solid">
                                       Save Address
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="w-full border border-dark-custom rounded-xl p-8 mb-8">
                <p class="text-xl lg:text-2xl font-medium">
                    Select A Payment Method
                </p>
                <div class="grid grid-cols-2">
                    <hr class="col-span-2 mt-3">
                    <div>
                        <p class="font-medium mt-5 w-[75%]">
                            Credit Card Payment
                        </p>
                        <div class="flex justify-between flex-row pt-3 w-[75%]">
                           <%= image_tag 'visa.svg', class: 'w-[20%]' %>
                           <%= image_tag 'instant-eft-logo.svg', class: 'w-[20%]' %>
                           <%= image_tag 'mastercard-3.svg', class: 'w-[20%]' %>
                           <%= image_tag 'mastercard-3.svg', class: 'w-[20%]' %>
                        </div>
                    </div>
                    <div class="flex mt-5">
                        <a class="text-base text-peak-red w-full text-end">
                            Change
                        </a>
                    </div>

                </div>
            </div>

            <div class="w-full border border-dark-custom rounded-xl p-8">
                <p class="text-xl lg:text-2xl font-medium">
                    Add Coupon Code
                </p>
                <div class="grid grid-cols-4">
                    <hr class="col-span-4 mt-3">
                    <div class="relative col-span-3 h-[45px] mt-6 pe-3">
                        <input  type="text" 
                                id="coupon_code" 
                                class="md-input-styling peer border border-dark-custom h-[45px] !rounded-lg" 
                                placeholder=" " />
                        
                        <label for="coupon_code" class="floating-label">
                            Contact Relationship
                        </label>
                    </div>
                    <div class="col-span-1 mt-6">
                        <button type="button" class="btn-checkout-solid">
                            Apply
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-span-3 lg:col-span-2">
            <div class="grid grid-cols-2 bg-grey-custom rounded-xl p-8 mb-8">
                <p class="text-xl lg:text-2xl font-medium col-span-1">
                    Order Summary
                </p>
                <hr class="col-span-2 mt-3 mb-5">
                <div>
                    <p class="shipping-text-styling">
                        Subtotal
                    </p>
                </div>
                <div>
                    <p class="shipping-text-styling text-end">
                        R9999999.99
                    </p>
                </div>

                <div>
                </div>
                <div>
                    <p class="uppeercase shipping-text-styling text-end">
                        Free Shipping
                    </p>
                </div>

                <hr class="col-span-2 mt-3 mb-5">

                <div>
                    <p class="shipping-text-styling">
                       Total 
                       <span class="text-dark-grey">
                        (items 1)
                       </span>
                    </p>
                </div>
                <div>
                    <p class="uppeercase text-xl text-end">
                        R9999999.99
                    </p>
                </div>

                <hr class="col-span-2 mt-3 mb-5">

                <div class="lg:pe-2 col-span-2 lg:col-span-1">
                    <button type="button" class="btn-dark-checkout-outline rounded-xl md:me-3 h-12 flex items-center w-full mt-5 lg:mt-0 order-4 lg:order-3 flex justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                        </svg>

                        Back to Cart
                    </button>
                </div>
                
                <div class="plg:s-2 col-span-2 lg:col-span-1">
                    <button type="button" class="btn-peak-checkout-red-solid rounded-xl md:me-3 h-12 flex items-center w-full mt-5 lg:mt-0 order-4 lg:order-3 flex justify-evenly">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 0 0-2.25-2.25H15a3 3 0 1 1-6 0H5.25A2.25 2.25 0 0 0 3 12m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 9m18 0V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3"></path>
                        </svg>
                        Make Payment
                    </button>
                </div>
            </div>

            <div class="w-full border border-dark-custom rounded-xl p-5">
                <div class="grid grid-cols-2">
                    <div>
                        <p class="font-medium w-[75%]">
                            Items for delivery
                        </p>
                    </div>
                    <div class="flex">
                        <a class="text-base text-peak-red w-full text-end">
                            Show Details
                        </a>
                    </div>
                    <div class="col-span-2 bg-grey-custom flex justify-center items-center rounded-md overflow-hidden lg:w-[100px] aspect-square p-2 mt-3">   
                        <%= image_tag 'peak.png', class:"w-[50%] lg:w-[80px]" %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>