<div class="pod-container">
    <div class="pb-10 flex items-center flex-col" data-controller="filter-toggle">
        <h2 class="text-[30px] text-center lg:text-[55px] font-semibold w-full lg:leading-18">
            All Products
        </h2>
        <div class="red-accent-pill-large"></div>
        <div class="w-full">
            <button type="button" class="btn-filter flex" data-action="click->filter-toggle#toggleFilter" data-filter-toggle-target="filterButton">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
                Filter
            </button>
        </div>
        <div class="flex flex-row w-full filter-hidden" data-filter-toggle-target="filterBox">
            <a href="#" class="px-3">
                Filter 1
            </a>

             <a href="#" class="px-3">
                Filter 2
            </a>

             <a href="#" class="px-3">
                Filter 3
            </a>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7">
        <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>
    </div>
</div>