<div class="pod-container">
    <div class="pb-10 flex items-center flex-col" data-controller="filter-toggle">
        <h2 class="pod-page-title !mb-0">
            All Products
        </h2>
        <div class="red-accent-pill-large"></div>
        <div class="w-full">
            <button type="button" class="btn-filter flex" data-action="click->filter-toggle#toggleFilter" data-filter-toggle-target="filterButton">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 me-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
                Filter
            </button>
        </div>
        <div class="flex flex-row w-full filter-hidden" data-filter-toggle-target="filterBox">
            <div class="grid grid-cols-10 w-full">
                <div class="col-span-10 lg:col-span-3">
                    <div>
                        <p class="text-xl">
                            Size(UK)
                        </p>
                    </div>
                    <div class="flex lg:mt-3 flex-wrap">

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-size-selection-styling bg-transparent ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute peer-checked:bg-filter-active peer-checked:text-white text-black w-full h-full top-0 flex justify-center items-center pointer-events-none ">
                                <p class="font-semibold">3</p>
                            </div>
                        </div>

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-size-selection-styling bg-transparent ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute peer-checked:bg-filter-active peer-checked:text-white text-black w-full h-full top-0 flex justify-center items-center pointer-events-none ">
                                <p class="font-semibold">3.5</p>
                            </div>
                        </div>

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-size-selection-styling bg-transparent ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute peer-checked:bg-filter-active peer-checked:text-white text-black w-full h-full top-0 flex justify-center items-center pointer-events-none ">
                                <p class="font-semibold">4</p>
                            </div>
                        </div>

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-size-selection-styling bg-transparent ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute peer-checked:bg-filter-active peer-checked:text-white text-black w-full h-full top-0 flex justify-center items-center pointer-events-none ">
                                <p class="font-semibold">4.5</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="hidden lg:block col-span-4"></div>
                <div class="col-span-10 lg:col-span-3 mt-3 lg:mt-0">
                    <div>
                        <p class="text-xl">
                            Colors
                        </p>
                    </div>
                    <div class="flex lg:mt-3 flex-wrap">

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-color-selection-styling bg-[#345678] ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute hidden peer-checked:flex peer-checked:text-white w-full h-full top-0 flex justify-center items-center pointer-events-none bg-[#345678]">
                                <p class="font-semibold">X</p>
                            </div>
                        </div>

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-color-selection-styling bg-peak-red ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute hidden peer-checked:flex w-full h-full top-0 flex justify-center items-center pointer-events-none bg-peak-red">
                                <p class="text-white font-semibold">X</p>
                            </div>
                        </div>

                        <div class="relative me-2 mt-2 lg:mt-0">
                            <input class="peer ring-transparent filter-color-selection-styling bg-blue-dark ring-transparent" type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                            <div class="absolute hidden peer-checked:flex w-full h-full top-0 flex justify-center items-center pointer-events-none bg-blue-dark">
                                <p class="text-white font-semibold">X</p>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7">
        <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

         <a href="#" class="">
            <div class="bg-grey-custom flex justify-center items-center h-[300px] lg:h-[400px] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>
    </div>
</div>