<div class="pod-container grid grid-cols-2 gap-7">
    <div class="rounded-xl overflow-hidden hidden lg:block">
        <%= image_tag 'lifestyle.jpg', class:"w-full"%>
    </div>
    <div class="col-span-2 lg:col-span-1 grid grid-cols-2 gap-7">
        <a href="" class="col-span-2 md:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[250px] lg:h-[75%] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="" class="col-span-2 md:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[250px] lg:h-[75%] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="" class="col-span-2 md:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[250px] lg:h-[75%] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>

        <a href="" class="col-span-2 md:col-span-1">
            <div class="bg-grey-custom flex justify-center items-center h-[250px] lg:h-[75%] rounded-xl overflow-hidden">   
                <%= image_tag 'peak.png', class:"w-3/4" %>
            </div>
            <p class="product-label">
                Peak Men Taichi 7.0 Running Shoes - WHITE/RED
            </p>
            <p class="product-price">
                R1999.00
            </p>
        </a>
    </div>
</div>